.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto 70px;

  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(253 224 71);
    color: black;
    transform: rotateY(180deg);
  }
  .button{
    background-color: rgb(250, 204, 19);
    font-weight: bold;
    margin-top: 10px;
    color:rgb(60, 58, 42);
    cursor: pointer;
  }
  .button:hover{
    background-color: rgb(253 224 71);
    color: black;
    transition: all 0.7s;
  }
  .btn__play{
  box-sizing: border-box;
	display:block;
  margin-left: auto;
  margin-right: auto;
	width:80px;
	height:80px;
	padding-top: 14px;
	padding-left: 8px;
	line-height: 20px;
	border: 6px solid #fff;
	border-radius: 50%;
	color:#f5f5f5;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:20px;
	font-weight:bold;
	transition: all 0.3s ease;
  }
  /* .btn__play:hover {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 10px rgba(255,255,100,1);
    text-shadow: 0px 0px 10px rgba(255,255,100,1);
  } */